doctype html
html
  head
    title= title
    link(rel="stylesheet" type="text/css" href="http://fastly.ink.sapo.pt/3.1.10/css/ink.css")
    link(rel="stylesheet" type="text/css" href="stylesheets/style.css")

  body.site
    block content
    block scripts
    script(type="text/javascript" src="http://fastly.ink.sapo.pt/3.1.10/js/ink-all.js")
    script( type="text/javascript" src="http://fastly.ink.sapo.pt/3.1.10/js/autoload.js")